.order_wrap {
  padding: 50px;

  form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .form_order {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: min(50%, 500px);
      background-color: #fff;
      padding: 20px;
      border-radius: 20px;
      position: relative;
      .order_price {
        display: flex;
        align-items: center;
        p{
          padding-left: 20px;
        };
      }

      .user_box {
        .input {
          width: 100%;
          padding: 10px 10px 20px 10px;
          outline: 0;
          border: 1px solid rgba(105, 105, 105, 0.397);
          border-radius: 10px;

          &:focus {
            & ~ label {
              @extend .info;
            }
          }
        }

        .info {
          top: -30px;
          left: 10px;
          color: #bdb8b8;
          font-size: 12px;
        }

        label {
          position: relative;
          top: -35px;
          left: 10px;
          font-weight: 600;
          font-size: 0.9em;
          color: rgb(165, 161, 161);
          cursor: text;
          transition: 0.3s ease;
        }

        p {
          color: rgb(182, 6, 6);
          margin-bottom: 10px;
          font-size: 14px;
        }
      }

      .submit {
        width: 100%;
        border: none;
        outline: none;
        background-color: royalblue;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        transition: transform 0.3s ease;

        &:hover {
          background-color: rgb(56, 90, 194);
        }
      }
    }
  }
}
