.order_wrap {
  padding: 50px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .form_body {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      fieldset {
        width: 30%;
        height: min-content;
        padding: 10px 20px;

        legend {
          font-weight: 700;
        }
      }
      li,
      .dessert_wrap {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
      }

      img {
        width: 200px;
        aspect-ratio: 3/2;
      }
    }

    .submit {
      width: 30%;
      border: none;
      outline: none;
      background-color: royalblue;
      padding: 10px;
      border-radius: 10px;
      color: #fff;
      font-size: 16px;
      transition: transform 0.3s ease;

      &:hover {
        background-color: rgb(56, 90, 194);
      }
    }
  }
}
