.admin_wrap {
  padding: 3%;
  h2,
  legend {
    text-align: center;
  }
  legend {
    font-weight: 700;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .submit {
      border: none;
      outline: none;
      background-color: royalblue;
      padding: 10px;
      border-radius: 10px;
      color: #fff;
      font-size: 16px;
      transition: transform 0.3s ease;
      width: 30%;
      margin: 50px 0;
      &:hover {
        background-color: rgb(56, 90, 194);
      }
      &:disabled{
        color: #ccc; /* Цвет текста для отключенной кнопки */
        cursor: not-allowed; 
        &:hover{
          &::after{
          content: "На сьогодні меню сформовано";
          color: red;
          position: absolute;
          top:350px;
          left: 650px;
        }
        }
        
      }
    }
  }
  fieldset {
    padding-left: 2rem;
    width: 90%;
    margin: auto;
    ol {
      padding-bottom: 0.5rem;
    }
    label {
      display: inline-block;
      width: 150px;
    }
  }
  .dessert {
    select {
      width: 90%;
      margin-bottom: 0.5rem;
    }
  }
}
