@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');



.login_wrap {
  height: 100dvh;
  padding: 2rem;
  background: rgb(128, 128, 128);
  background: linear-gradient(
    0deg,
    rgba(27, 27, 27, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(128, 128, 128, 1) 100%
  );
}

.login_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    position: relative;
    &:nth-child(1) {
     margin-left: calc(50% - 75px);
    }
    
   
  }

  h1{
    text-align: center;
    font-family: 'Protest Riot', sans-serif;
  }

 .fork {
    transform: rotate(-45deg);
    animation: fromLeft 0.8s linear 0.5s 1 normal forwards;
  }

  .knife{
    transform: rotate(225deg);
    top: -15px;
    animation: fromRight 0.8s linear 0.5s 1 normal forwards;
  }

  .logIn_button {
    width: 100%;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    .cta {
      position: relative;
      // margin: auto;
      padding: 12px 18px;
      transition: all 0.2s ease;
      border: none;
      background: none;
      cursor: pointer;
    }
    
    .cta:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border-radius: 50px;
      background: #b1dae7;
      width: 45px;
      height: 45px;
      transition: all 0.3s ease;
    }
    
    .cta span {
      position: relative;
      font-family: "Ubuntu", sans-serif;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.05em;
      color: #234567;
    }
    
    .cta svg {
      position: relative;
      top: 0;
      margin-left: 10px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #234567;
      stroke-width: 2;
      transform: translateX(-5px);
      transition: all 0.3s ease;
    }
    
    .cta:hover:before {
      width: 100%;
      background: #b1dae7;
    }
    
    .cta:hover svg {
      transform: translateX(0);
    }
    
    .cta:active {
      transform: scale(0.95);
    }
  }
}


.login_main{
  display: flex; 
  align-items: center;
  justify-content: space-around;
  .btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #ff135a;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;

    .btn-content {
      display: flex;
      align-items: center;
      padding: 5px 30px;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 1.5rem;
      color: var(--color-text);
      background: var(--color-background);
      transition: 1s;
      border-radius: 100px;
      box-shadow: 0 0 0.2em 0 var(--color-background);
    }
    
    .btn-content:hover, .btn-content:focus {
      transition: 0.5s;
      -webkit-animation: btn-content 1s;
      animation: btn-content 1s;
      outline: 0.1em solid transparent;
      outline-offset: 0.2em;
      box-shadow: 0 0 0.4em 0 var(--color-background);
    }
    
    .btn-content .icon-arrow {
      transition: 0.5s;
      margin-right: 0px;
      transform: scale(0.6);
    }
    
    .btn-content:hover .icon-arrow {
      transition: 0.5s;
      margin-right: 25px;
    }
    
    .icon-arrow {
      width: 20px;
      margin-left: 15px;
      position: relative;
      top: 6%;
    }
      
    /* SVG */
    #arrow-icon-one {
      transition: 0.4s;
      transform: translateX(-60%);
    }
    
    #arrow-icon-two {
      transition: 0.5s;
      transform: translateX(-30%);
    }
    
    .btn-content:hover #arrow-icon-three {
      animation: color_anim 1s infinite 0.2s;
    }
    
    .btn-content:hover #arrow-icon-one {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.6s;
    }
    
    .btn-content:hover #arrow-icon-two {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.4s;
    }
    
    /* SVG animations */
    @keyframes color_anim {
      0% {
        fill: white;
      }
    
      50% {
        fill: var(--color-background);
      }
    
      100% {
        fill: white;
      }
    }
    
    /* Button animations */
    @-webkit-keyframes btn-content {
      0% {
        outline: 0.2em solid var(--color-background);
        outline-offset: 0;
      }
    }
    
    @keyframes btn-content {
      0% {
        outline: 0.2em solid var(--color-background);
        outline-offset: 0;
      }
    }
  }
  .guest_button{
    button {
      font-size: 1.5rem;
      padding: 0.8em 2em;
      background-color: #000;
      border: 3px solid yellow;
      border-radius: 1em;
      color: #fff;
      font-weight: bolder;
      transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
      box-shadow: -5px 5px 0px 0px yellow;
    }
    
    button:hover {
      transform: translate(5px, -5px);
    }
  }
 
}

@keyframes fromLeft {
  0% {
    left: -500px;
  }
  100% {
    left: 0;
  }
}

@keyframes fromRight {
  0% {
    left: 500px;
  }
  100% {
    left: 0;
  }
}
