.footer_wrap{
    height: 50px;
    background-color: #11114e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    a{
        padding-left: 5px;
    }
}
@media (max-width:400px) {
    .footer_wrap{
        flex-direction: column;
        height: 4rem;
    }
}